.bar { fill: steelblue; }

#well-form {
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #DDD;
  background-color: #F9F9F9;
  padding: 10px;
  /*display: inline-block;*/
}
