.main-body {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 100px;
  padding-left: 100px;
}

.our-nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

#main-navbar {
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px -2px 20px #000;
}

.btn-primary {
  background-color: #143FA8;
  border-color: #143FA8;
}

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f7f7f7;
}

.footer p {
  margin: 0px;
}

.text-muted {
  text-align: center;
}

#temp-text {
  color: #FF0000;
}

.temp-text {
  color: #FF0000;
}

#username-text {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 13px;
}

#pagename_container {
  margin: 0px;
  padding: 0px;
  height: 100px;
}

#pagename_container img {
  width: 100%;
  height: inherit;
  margin: 0px 0 0 0px;
}

#pagename_container h2 {
  position: absolute;
  top: 100px;
  left: 95px;
  width: 100%;
  color: #FFF;
  font-family: 'Play', sans-serif;
}

.logout-column {
  padding-left: 0px;
}

.casex-spacer {
  margin: 40px 0 0 40px;
}

.case-form-input-wrapper {
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #DDD;
  background-color: #F9F9F9;
  margin-left: 150px;
  margin-right: 150px;
}

.case-form-input-content {
  padding: 30px;
}

.casex-form-group {
  padding-bottom: 30px;
}

.formLabel {
  text-align: right;
}

.custom-file-control::before {
  content: "Browse"
}

.custom-file-control::after {
  content: "Import Excel file..."
}

#submitFormSmall {
  text-align: center;
}

#login-status {
  color: red;
}
