.main-body {
  margin-top: 50px;
  padding-right: 0px;
  padding-left: 0px;
}

.our-nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

#main-navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.btn-primary {
  background-color: #143FA8;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f7f7f7;
}

.text-muted {
  text-align: center;
}

#temp-text {
  color: #FF0000;
}

#username-span {
  margin-top: 7px;
  margin-bottom: 0px;
}
