extends app-layout

block content
  form
    .form-row
      .col-4
        select(class='form-control' id='form-selector' placeholder='Select form')
          option(selected) Select Form...
          option First format
          option Second format
      .col-auto
        button(class='btn btn-primary') Upload
      .col-auto
        button(class='btn btn-primary') Submit
  .casex-spacer
  .case-form-input-wrapper
    .case-form-input-content
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Here is where the form will go.
      p Uh oh this is under the footer... :o
