h4 Case

include form-case

.casex-form-group
  
  h4 Address
  
  include form-address

.casex-form-group
  
  h4#VictimFormLabel Victim

  .row
    .col-3
      p.formLabel#newOrExistingVictimLabel
    .col-9
      select#newOrExistingVictimInput(
        name="newOrExistingVictim"
        class="form-control"
        )
        option(selected hidden value='default') Create new or link existing...
        option(value='new') Create new victim
        option(value='old') Link to existing victim
      small.text-danger#newOrExistingVictimSmall

  include form-victim
  
.casex-form-group
  
  h4#SuspectFormLabel Suspect(s)

  .row#SupectArea
    .col-3
      p.formLabel#newOrExistingSuspectLabel
    .col-9
      select#newOrExistingSuspectInput(
        name="newOrExistingSuspect"
        class="form-control"
        )
        option(selected hidden value='default') Create new or link existing...
        option(value='new') Create new suspect
        option(value='old') Link to existing suspect
      small.text-danger#newOrExistingSuspectSmall

  include form-suspect

.casex-form-group
  .row
    .col-3
      div
    .col-9
      input(type='button' class='btn btn-primary btn-block' id='button-add-suspect' value='Add Suspect')
        
script(language='JavaScript' src='js/form-adder.js')
