form.content__form.input-form
  .row
    .col-2
      p DR#
    .col-10
      input(id='drNumInput' type='number' min='0' max='999999999' step='1' placeholder='Enter DR#')
  
  .row
    .col-2
      p Master DR#
    .col-10
      input(id='masterDrNumInput' type='number' min='0' max='999999999' step='1' placeholder='Enter Master DR#')
  
  .row
    .col-2
      p Division
    .col-10
      select(id='divisionInput' class='form-control')
        option(selected) Select Division...
        option 77th Street
        option Harbor
        option Southwest
        option Southeast
  
  .row
    .col-2
      p Bureau
    .col-10
      select(id='bureauInput' class='form-control')
        option(selected) Select Bureau...
        option OSB
        option OCB
        option OWB
        option OVB
      
  .row
    .col-2
      p Victim Name
    .col-10
      
      input#drNumInput.input-form__input.input-form__input--text(
        name="victimName"
        placeholder="Enter Victim Name"
        type="text"
        )
  
  .row
    .col-2
      p Notes
    .col-10
      input(id='notesInput' type='text' placeholder='Enter Notes')
