extends layout

block content
  h1= title
  p This is where individual page content will go.
  
  .btn(class='btn btn-primary' onclick='submitTestRequest()') Submit a test request
  input(type='file' name='upload-pdf' id='upload-pdf' accept='.pdf')
    
  script(language='JavaScript' src='js/testRequest.js')
