extends external-layout

block content
  div#login-container
    .row
      .col-3
      .col-6
        div(class='title-login' align='center')
          h2 Login
        include login-module
        a(href='/')
          button(class='btn btn-primary' type='submit') Login 
      .col-3
