option(selected value='equal to') =
option(value='not equal to') ≠
option(value='greater than') &gt;
option(value='greater than or equal to') &gt;=
option(value='less than') &lt;
option(value='less than or equal to') &lt;=
