option(selected disabled hidden value='') Select attribute...
option(value='drNumber') DR #
//- option(value='masterDrNumber') Master DR # // TODO: figure out why this one isn't working
option(value='division') Division
option(value='bureau') Bureau
//- option(value='dateOccured') Date Occured
//- option(value='dateReported') Date Reported
option(value='reportingDistrict') Reporting District
option(value='caseStatus') Case Status
//- option(value='caseStatusDate') Case Status Date
option(value='solvabilityFactor') Solvability Factor
option(value='weaponUsed') Weapon Used
option(value='motive') Motive
//- option(value='lastModifiedDate') Last Modified Date
option(value='lastModifiedBy') Last Modified By
option(value='victim') Victim
option(value='address') Address
option(value='suspects') Suspects
