form(method='POST' action='/login')
  div
    .form-group
      label Email:
      input.form-control(type='text' id='email' placeholder='email' name='email' required)
  div
    .form-group
      label Password:
      input.form-control(type='password' id='password' placeholder='password' name='password' required)
