div(class='navbar-nav flex-row')
  div(class='our-nav-item')
    a(class='nav-item nav-link' href='/') Home
  div(class='our-nav-item')
    a(class='nav-item nav-link' href='input') Input
  div(class='our-nav-item')
    a(class='nav-item nav-link' href='explorer') Explorer
  div(class='our-nav-item')
    a(class='nav-item nav-link' href='admin') Admin
  div(class='our-nav-item')
    form(class='form-inline my-2 my-md-0 nav-item')
      input(class='form-control' type='text' placeholder='Find Case by DR#')
      a(href='/case')
        span(class='input-group-btn')
          button(class="btn btn-secondary" href='/case')
            img(src='resources/search.svg' alt='Search Icon')
div
  .row
    .col(class='logout-column')
      p(class='text-muted' id='username-text') username_123
    .col(class='logout-column')
      button(class='btn btn-primary' id='logout') Logout
        
script(language='JavaScript' src='js/logout.js')
