nav(class='navbar navbar-light bg-light')
  a(class='navbar-brand' href='')
    img(src='resources/CaseX_logo_medium.png' height='30' alt='CaseX Logo')
  div(class='navbar-nav mr-auto')
    a(class='nav-item nav-link active' href='') Home
    a(class='nav-item nav-link' href='forms') Forms
    a(class='nav-item nav-link' href='explorer') Explorer
    a(class='nav-item nav-link' href='admin') Admin
    form(class='form-inline my-2 my-md-0 nav-item')
      input(class='form-control' type='text' placeholder='Find Case by DR#')
      span(class='input-group-btn')
        button(class="btn btn-secondary")
          img(src='resources/search.svg' alt='Search Icon')
  button(class='btn btn-primary') Logout
