extends layout-external

block content
  div#login-container
    .row
      .col-3
      .col-6
        div(class='title-login' align='center')
          h2 Login
        include module-login
        div
          .form-group
            input.form-controller(class='btn btn-primary' type='button' id='login' value='Login')

      .col-3
      script(language='JavaScript' src='js/login.js')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
