extends layout-internal

block content
  .row
    .col-12
      button(class='btn btn-danger float-right' id='delete') Delete  
      button(class='btn btn-primary float-right' id='edit') Edit  
    
  .casex-spacer
    
  include form-master
  
  input(type='button' class='btn btn-primary btn-block' id='button-save-page' value='Save')
  
  script(language='JavaScript' src='js/page-case.js')
  script.
    window.CaseController.init();
