extends layout-internal

block content
  div#case-container
    button(class='btn btn-primary float-right' id='delete') Delete
    button(class='btn btn-primary float-right' id='edit') Edit  
    br
    include form-master
