extends layout-internal

block content
  h4 View Users
  include module-admin-view-users
  .casex-spacer
  h4 Modify Users  
  ul(class='nav nav-tabs' role='tablist')
    li(class='nav-item')
      a(class='nav-link active' id='add-tab' data-toggle='tab' href='#add') Add User
    li(class='nav-item')
      a(class='nav-link' id='delete-tab' data-toggle='tab' href='#delete') Delete User
  .casex-spacer
  .tab-content
    div(class='tab-pane fade show active' id='add' role='tabpanel' aria-labelledby='add-tab')
      include module-admin-add-users
    div(class='tab-pane fade' id='delete' role='tabpanel' aria-labelledby='delete-tab')
      include module-admin-delete-users
  
  script(language='JavaScript' src='js/page-admin.js')
  script.
    window.AdminController.init();
