extends layout-internal

block content
  .row
    .col-4
      select(class='form-control' id='form-selector' placeholder='Select form')
        option(selected) Select Form...
        option First format
        option Second format
    .col-auto
      label(class='custom-file')
        input(type='file' class='custom-file-input' id='upload-form')
        span(class='custom-file-control')
    .col-auto
      input(type='button' class='btn btn-primary' id='button-submit-forms' value='Submit')
  .casex-spacer
  .case-form-input-wrapper
    .case-form-input-content
      include form-master

  script(language='JavaScript' src='js/submitInputForm.js')
