extends layout-internal

block content
  
  .row
    .col-6
      p To create a new case record, please complete the following form and click submit at the bottom. Optionally, you may upload an Excel file on the right to auto-fill the form.
    .col-6
      label(class='custom-file')
        input(type='file' class='custom-file-input' id='upload-form')
        span(class='custom-file-control')
  
  .casex-spacer
  
  .row
    .col-2
    .col-lg-8.col-sm-12
      ul(class='nav nav-pills' role='tablist')
        li(class='nav-item')
          a(class='nav-link active' id='tab1' data-toggle='tab' href='#form1') DR# 10836030
        li(class='nav-item')
          a(class='nav-link' id='tab2' data-toggle='tab' href='#form2') DR# 31038738
        li(class='nav-item')
          a(class='nav-link' id='tab2' data-toggle='tab' href='#form3') DR# 99031937
        li(class='nav-item')
          a(class='nav-link' id='tab2' data-toggle='tab' href='#form4') DR# 31038738
        li(class='nav-item')
          a(class='nav-link' id='tab2' data-toggle='tab' href='#form5') DR# 99031937
        li(class='nav-item')
          a(class='nav-link' id='tab2' data-toggle='tab' href='#form6') DR# 31038738
        li(class='nav-item')
          a(class='nav-link' id='tab2' data-toggle='tab' href='#form7') DR# 99031937
      .casex-spacer
      .tab-content
        div(class='tab-pane fade show active' id='form1' role='tabpanel' aria-labelledby='form1')
          .case-form-input-wrapper
            .case-form-input-content
              include form-master
        div(class='tab-pane fade' id='form2' role='tabpanel' aria-labelledby='form2')
          .case-form-input-wrapper
            .case-form-input-content
              include form-master
        div(class='tab-pane fade' id='form3' role='tabpanel' aria-labelledby='form3')
          .case-form-input-wrapper
            .case-form-input-content
              include form-master
        div(class='tab-pane fade' id='form2' role='tabpanel' aria-labelledby='form4')
          .case-form-input-wrapper
            .case-form-input-content
              include form-master
        div(class='tab-pane fade' id='form3' role='tabpanel' aria-labelledby='form5')
          .case-form-input-wrapper
            .case-form-input-content
              include form-master
        div(class='tab-pane fade' id='form2' role='tabpanel' aria-labelledby='form6')
          .case-form-input-wrapper
            .case-form-input-content
              include form-master
        div(class='tab-pane fade' id='form3' role='tabpanel' aria-labelledby='form7')
          .case-form-input-wrapper
            .case-form-input-content
              include form-master
    .col-2
  
  .casex-spacer
  
  .row
    .col-2
    .col-lg-8.col-sm-12
      input(type='button' class='btn btn-primary btn-block' id='button-submit-forms' value='Submit')
      .casex-spacer
      h6.text-danger#submitFormSmall
    .col-2

  script(language='JavaScript' src='js/page-input.js')
  script(language='JavaScript' src='js/import.js')
  
  script.
    window.InputController.init();
