extends layout-external

block content
  div#login-container
    .row
      .col-3
      .col-6
        div(class='title-login' align='center')
          h2 Login
        include module-login
        //- a(href='/')
          button(class='btn btn-primary' type='submit' onClick='loginUser()') Login 
        button(class='btn btn-primary' type='submit' onClick='loginButton()') Login
      .col-3
      script(language='JavaScript' src='js/login.js')
      script.
        function loginButton() {
          var username = document.getElementById("username").value;
          var password = document.getElementById("password").value;
          loginUser(username, password);
        }
